form {
    position: absolute;
    top:25%;
    left: 35%;
    height: fit-content;
    width: 30%;
    text-align: center;
    padding: 20px;	
}

input{
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(115, 145, 184, 0);
}
.button{
    background-color: rgba(0, 255, 255, 0) !important;
    font-family: 'Geologica', sans-serif !important;
    color:rgb(82, 101, 6) !important;
}