form {
    position: absolute;
    top: 25%;
    left: 35%;
    height: fit-content;
    width: 30%;
    text-align: center;
    padding: 20px;
    /* border: 2px solid #2aa8bc;  */
    border-radius: 50px;  
    background-color: rgba(223, 102, 9, 0);    
}

input{
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(5, 91, 202, 0.938);
}

.Add{
    width: 100dw;
    height: 100vh;
}

.button{
    background-color: rgba(0, 255, 255, 0) !important;
    font-family: 'Geologica', sans-serif !important;
    color:rgb(225, 229, 10) !important;
}

.errSpan{
    margin-top: -20px;
    margin-bottom: 2px;
    color: rgb(109, 114, 7) !important;
    font-size: large;
    font-weight:bolder ;
}

